<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
    <key>NSMotionUsageDescription</key>
    <string>Cette application utilise l'activité pour déterminer si vous marchez, courez, etc.</string>
    <key>NSLocationAlwaysUsageDescription</key>
        <string>Nous avons besoin de votre position en continu, même en arrière-plan.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>Nous avons besoin de votre localisation pour XYZ, y compris quand l'application est fermée.</string>
</dict>
</plist>
